/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.slider img,
.card-image {
  height:28rem;
  object-fit: cover;
}
.footerStyle {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; 
  margin-top: 2rem;
}
/* .aws-btn {

  --button-default-height: 48px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 6px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.185s;
  --button-primary-color: #be0e0e;
  --button-primary-color-dark: #2a3143;
  --button-primary-color-light: #d4d9e4;
  --button-primary-color-hover: #424e6a;
  --button-primary-border: none;
  --button-secondary-color: #fffc6c;
  --button-secondary-color-dark: #b9b500;
  --button-secondary-color-light: #6c6a00;
  --button-secondary-color-hover: #fffb3e;
  --button-secondary-border: none;
  --button-anchor-color: #f3c8ad;
  --button-anchor-color-dark: #734922;
  --button-anchor-color-light: #4c3016;
  --button-anchor-color-hover: #f1bfa0;
  --button-anchor-border: 1px solid #8c633c;
  } */

  .aws-btn {
    --button-default-height: 48px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 6px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 5px;
    --button-hover-pressure: 2;
    --transform-speed: 0.185s;
    --button-primary-color: #a9d3e9;
    --button-primary-color-dark: #58a9d4;
    --button-primary-color-light: #2e84b2;
    --button-primary-color-hover: #95c9e4;
    --button-primary-border: none;
    --button-secondary-color: #fff;
    --button-secondary-color-dark: #001529;
    --button-secondary-color-light: #349890;
    --button-secondary-color-hover: #ecf9f8;
    --button-secondary-border: 2px solid #b3e5e1;
    --button-anchor-color: #95d44a;
    --button-anchor-color-dark: #52a934;
    --button-anchor-color-light: #3f8228;
    --button-anchor-color-hover: #89cf35;
    --button-anchor-border: 2px solid #5bbd3a;
    }
    
    .pointer {
      cursor: pointer;
    }

    .cssload-box-loading {
      width: 49px;
      height: 49px;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .cssload-box-loading:before {
      content: '';
      width: 49px;
      height: 5px;
      background: rgb(0,0,0);
      opacity: 0.1;
      position: absolute;
      top: 58px;
      left: 0;
      border-radius: 50%;
      animation: shadow 0.58s linear infinite;
        -o-animation: shadow 0.58s linear infinite;
        -ms-animation: shadow 0.58s linear infinite;
        -webkit-animation: shadow 0.58s linear infinite;
        -moz-animation: shadow 0.58s linear infinite;
    }
    .cssload-box-loading:after {
      content: '';
      width: 49px;
      height: 49px;
      background: rgb(26,54,104);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 3px;
      animation: cssload-animate 0.58s linear infinite;
        -o-animation: cssload-animate 0.58s linear infinite;
        -ms-animation: cssload-animate 0.58s linear infinite;
        -webkit-animation: cssload-animate 0.58s linear infinite;
        -moz-animation: cssload-animate 0.58s linear infinite;
    }
    
    
    
    @keyframes cssload-animate {
      17% {
        border-bottom-right-radius: 3px;
      }
      25% {
        transform: translateY(9px) rotate(22.5deg);
      }
      50% {
        transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
      }
      75% {
        transform: translateY(9px) rotate(67.5deg);
      }
      100% {
        transform: translateY(0) rotate(90deg);
      }
    }
    
    @-o-keyframes cssload-animate {
      17% {
        border-bottom-right-radius: 3px;
      }
      25% {
        -o-transform: translateY(9px) rotate(22.5deg);
      }
      50% {
        -o-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
      }
      75% {
        -o-transform: translateY(9px) rotate(67.5deg);
      }
      100% {
        -o-transform: translateY(0) rotate(90deg);
      }
    }
    
    @-ms-keyframes cssload-animate {
      17% {
        border-bottom-right-radius: 3px;
      }
      25% {
        -ms-transform: translateY(9px) rotate(22.5deg);
      }
      50% {
        -ms-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
      }
      75% {
        -ms-transform: translateY(9px) rotate(67.5deg);
      }
      100% {
        -ms-transform: translateY(0) rotate(90deg);
      }
    }
    
    @-webkit-keyframes cssload-animate {
      17% {
        border-bottom-right-radius: 3px;
      }
      25% {
        -webkit-transform: translateY(9px) rotate(22.5deg);
      }
      50% {
        -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
      }
      75% {
        -webkit-transform: translateY(9px) rotate(67.5deg);
      }
      100% {
        -webkit-transform: translateY(0) rotate(90deg);
      }
    }
    
    @-moz-keyframes cssload-animate {
      17% {
        border-bottom-right-radius: 3px;
      }
      25% {
        -moz-transform: translateY(9px) rotate(22.5deg);
      }
      50% {
        -moz-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
      }
      75% {
        -moz-transform: translateY(9px) rotate(67.5deg);
      }
      100% {
        -moz-transform: translateY(0) rotate(90deg);
      }
    }
    
    @keyframes shadow {
      0%,
      100% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.2, 1);
      }
    }
    
    @-o-keyframes shadow {
      0%,
      100% {
        -o-transform: scale(1, 1);
      }
      50% {
        -o-transform: scale(1.2, 1);
      }
    }
    
    @-ms-keyframes shadow {
      0%,
      100% {
        -ms-transform: scale(1, 1);
      }
      50% {
        -ms-transform: scale(1.2, 1);
      }
    }
    
    @-webkit-keyframes shadow {
      0%,
      100% {
        -webkit-transform: scale(1, 1);
      }
      50% {
        -webkit-transform: scale(1.2, 1);
      }
    }
    
    @-moz-keyframes shadow {
      0%,
      100% {
        -moz-transform: scale(1, 1);
      }
      50% {
        -moz-transform: scale(1.2, 1);
      }
    }